<div class='span11 well'>

<%= render 'shared/content_title', title: 'How it Works' %> 
<p>
Saint Tracker is an online tool that allows you to visualize the locations of various works of art, their artists, and saints featured in them. 
</p>
<p>
When submitting new works of art, please try to include the city the work was <i>created</i>, not necessarily where it is right now. If you cannot find where it was created, then please indicate the city where the artist comes from.
</p>
<p>
When submitting new saints, please just indicate a few of their attributes (not necessarily all of them). These can be easily found on Wikipedia.
</p>
Please submit new works of art to flesh out our collection!
</div>



<div class = "row">
  <div class='span5 well'>
  <%= render 'shared/content_title', title: 'All Works of Art' %>
  <% @works.each do |work| %>
    <%= render 'work', work: work %>
  <% end %>
  </div>

  <div class='span6 well'>
    <%= render 'shared/content_title', title: 'Map of All Works of Art' %>
    <p>
    <div id="map" style='width: 450px; height: 400px;'></div>

    <script type='text/javascript'>
      handler = Gmaps.build('Google');
      handler.buildMap({ provider: { }, internal: {id: 'map'}}, function(){
      markers = handler.addMarkers(<%= raw @hash.to_json %>);
      handler.bounds.extendWith(markers);
      handler.fitMapToBounds();
      var map = handler.getMap();
      map.setZoom(5);
      map.setCenter(new google.maps.LatLng(43, 11));
      });
    </script>
    </p>
  </div>
</div>