


<% if logged_in? && (current_user.admin? || current_user == @work.user) %>
  <p class='pull-right'>
    [<%= link_to 'edit this entry', edit_work_path(@work) %>]
  <br/>
    [<%= link_to 'delete this entry', @work, method: "delete", data: { confirm: "Are you sure?" } %>]
  </p>
<% end %>

<%= render @work.saints %>

<p class='lead'>
  <%= @work.title %>
  <hr/>
</p>

<p>Painted in <%= @work.date %> by <%= link_to @work.artist.name, artist_path(@work.artist) %> in <%= @work.city %>.</p>

  

<div class = "row">
  <div class='span5 well'>
  <p>
    <%= link_to image_tag(@work.image), @work.image %>
  </p>
<hr/>

<%= form_for [@work, @comment] do |f| %>
  <%= render 'shared/errors', obj: @comment %>
  <div class='control-group'>
    <%= f.label :body, "Leave a comment" %>
    <%= f.text_area :body, rows: 3, class: 'span4' %>
    <br/>
  </div>
  <%= f.submit "Create Comment", class: "btn btn-success" %>
  <% end %>
  </div>

  <div class='span6 well'>
  <p>

    <div id="map" style='width: 450px; height: 400px;'></div>

    <script type='text/javascript'>
      handler = Gmaps.build('Google');
      handler.buildMap({ provider: {}, internal: {id: 'map'}}, function(){
      markers = handler.addMarkers(<%= raw @hash.to_json %>);
      handler.bounds.extendWith(markers);
      handler.fitMapToBounds();
      handler.getMap().setZoom(4);
      });
    </script>
  </p>
  </div>

<div class="pull-left control-group">
<h5>Comments:</h5>

<% @work.reload.comments.each do |comment| %>
  <%= render 'comments/comment', comment: comment %>
<% end %>
</div>