<ul class="nav">
  <li>
    <%= link_to "Saint Tracker", root_path, :class => 'brand' %>
  </li>
</ul>

<div class='btn-group nav_item'>
  <%= link_to '#', class: 'btn btn-small dropdown-toggle', 'data-toggle' => 'dropdown' do %>
    Saints <span class='caret'></span>
   <% end %>
   <ul class='dropdown-menu'>
    <% Saint.all.each do |saint| %>
      <li>
        <%= link_to saint.name, saint_path(saint) %>
        
      </li>
    <% end %>
    <% if logged_in? %>
    <li class='divider'></li>
    <li>
        <%= link_to(new_saint_path) do %>
          <i class='icon-plus'></i>
          New Saint
        <% end %>
    <% end %>
    </li>
   </ul> 
</div>

<div class='btn-group nav_item'>
  <%= link_to '#', class: 'btn btn-small dropdown-toggle', 'data-toggle' => 'dropdown' do %>
    Artists <span class='caret'></span>
   <% end %>
   <ul class='dropdown-menu'>
    <% Artist.all.each do |artist| %>
      <li>
        <%= link_to artist.name, artist_path(artist) %>
        
      </li>
    <% end %>
    <% if logged_in? %>
    <li class='divider'></li>
    <li>
        <%= link_to(new_artist_path) do %>
          <i class='icon-plus'></i>
          New Artist
        <% end %>
    <% end %>
    </li>
   </ul> 
</div>

<% if logged_in? %>
<div class='nav_item'>
  <%= link_to 'New Work of Art', new_work_path, class: 'btn btn-success btn-small' %>
</div>

<div class='btn-group nav_item'>
  <%= link_to('', class: 'btn btn-small dropdown-toggle', 'data-toggle' => 'dropdown') do %>
    <%= current_user.username %>
    <span class='caret'></span>
  <% end %>


  <ul class='dropdown-menu'>

  <li><%= link_to user_path(current_user) do %>
    <i class="icon-user"></i>
    view profile
 </li>
 <% end %>

  <li><%= link_to logout_path do %>
    <i class="icon-circle-arrow-left"></i>
    logout
 </li>
  <% end %>
</div>

  <% else %>
    <div class='nav_item'>
    <%= link_to 'Register', register_path, class: 'btn btn-success btn-small' %>
    </div>
    <div class='nav_item'>
    <%= link_to 'Log in', login_path, class: 'btn btn-small' %>
    </div>

  <% end %>